<!-- Sección de Stack -->
<section
  id="contenido9"
  class="w-full min-h-screen md:px-16 px-5 py-4 flex flex-col items-center justify-center bg-[#1a1a1a]"
>
  <div class="flex flex-col items-center px-5 py-4 h-full text-center">
    <div class="sticky-title w-full">
      <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-black mb-6 leading-tight text-[#82e256]">
        Stack Tech
      </h1>
    </div>
    <p class="text-lg text-center text-[#82e256]">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod autem
      corporis nesciunt dolorem, nihil aut, dicta id ipsam e obcaecati vitae.
    </p>
    <div class="flex flex-col items-center justify-between gap-8 mt-12">
      <div class="flex flex-row items-center justify-center gap-2 md:gap-8">
        <img src="/img/logoJavaScript.png" class="w-16 h-16" />
        <img src="/img/logoTypeScript.png" class="w-16 h-16" />
        <img src="/img/logoCSS3.png" class="w-16 h-16" />
        <img src="/img/logoHTML.png" class="w-16 h-16" />
        <img src="/img/logoReact.svg" class="w-16 h-16" />
      </div>
      <div class="flex flex-row items-center justify-center gap-2 md:gap-8">
        <img src="/img/logoPHP.png" class="w-16 h-16" />
        <img src="/img/logoPython.png" class="w-16 h-16" />
        <img src="/img/logoGO.png" class="w-16 h-16" />
      </div>
      <div class="flex flex-row items-center justify-center gap-2 md:gap-8">
        <img src="/img/kotlin.svg" class="w-16 h-16" />
        <img src="/img/logoReactNative.png" class="w-16 h-16" />
      </div>
    </div>
  </div>
</section>