---
import FloatingChat from '../components/FloatingChat.astro';
import SuccessModal from '../components/SuccessModal.astro';
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Aquí Creamos - Desarrollo de Software e IA</title>
		<style>
			html, body {
				scroll-behavior: smooth;
				background-color: black;
			}
		</style>
		<!-- Material Symbols -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

		<!-- Lucide Icons -->
		<script src="https://unpkg.com/lucide@latest" is:inline></script>

		<style is:global>
			@import "../assets/style.css";
			@import "../assets/animations.css";
		</style>
		<script>
			import { initAnimations } from "../assets/animations.js";
			document.addEventListener("DOMContentLoaded", () => {
				initAnimations();
			});
		</script>
	</head>
	<body class="text-white overflow-x-hidden">
		<slot />
		<FloatingChat />
		<SuccessModal />
	</body>
</html>
